html {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  line-height: 1.5;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #fff;
  color: #24325FFF;
}

header {
  height: 7vh;
  padding: 0.25rem 1rem;
  background-color: #24325FFF;
  color: #B7E4F9FF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

main {
  height: 75vh;
}

footer {
  height: 15vh;
  padding: 1rem 6rem;
  background-color: #24325FFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

button {
  height: 2.5rem;
  padding: 0 1rem;
  background-color: #B7E4F9FF;
  color: #24325FFF;
  font-weight: bold;
  border: none;
  border-radius: 10%;
  font-size: 1rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #B7E4F9FF;
  font-weight: bold;
  font-size: 0.75rem;
  line-height: 1rem;
}

.flex__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.flex__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.logo {
  background-image: url(./assets/Rick-And-Morty-Logo.png);
  width: 15%;
  height: 100%;
  background-size: 70% 100%;
  background-repeat: no-repeat;
}

.navigation {
  width: 30%;
}

.logo__footer {
  background-image: url(./assets/Rick-And-Morty-Logo.png);
  width: 100px;
  height: 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
